@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FAF7F2;
    color: #382B20;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F4EFEA;
}

::-webkit-scrollbar-thumb {
  background: #D7BC9B;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B57E44;
}

/* Input focus style */
input:focus, select:focus, textarea:focus {
  outline: none;
}
